.card:hover {
  cursor: pointer;
  width: 260px;
  height: 360px;
  margin: 20px;
}

.card-red:hover {
  cursor: pointer;
  width: 260px;
  height: 360px;
  margin: 20px;
}

img {
  width: 30%;
  padding: 5px;
}

.card {
  background-image: url(../images/cloud.gif);
  width: 260px;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  opacity: 0.8;
  text-align: center;
  padding: 50px;
}

.card-red {
  background-color: rgb(245, 94, 94);
  width: 260px;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
  opacity: 0.8;
  text-align: center;
  padding: 50px;
}

.biodata {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
}

ul li {
  list-style: none;
}

.card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-box img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

.card2 {
  border: none;
  border-radius: 20px;
  background-color: rgba(250, 107, 219, 0.199);
  width: 180px;
  height: 200px;
  padding: 10px;
  opacity: 0.8;
  text-align: center;
  margin: 15px;
}

.card2 img {
  width: 150px;
}

.food {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.food h1{
  color: bisque;
}

.button {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.add {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(247, 170, 234);
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  opacity: 0.7;
}

.remove {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(247, 170, 234);
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  opacity: 0.7;
}

.add:hover {
  width: 105px;
  height: 35px;
  color: white;
}

.remove:hover {
  width: 105px;
  height: 35px;
  color: white;
}

h1 {
  text-align: center;
  color: rgb(60, 81, 100);
  font-family: cursive;
  margin-top: 50px;
}

h3 {
  line-height: 20px;
}

.card2 p {
  color: bisque;
  font-family: cursive;
}

.new-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contributor {
  display: flex;
  flex-direction: row; 
  text-align: center;
  margin: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contributor p {
  color: aliceblue;
}

.contributor li {
  list-style: none;
}

.contributor img {
  width: 200px;
  margin-top: 50px;
}

.detail-contributor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:rgb(201, 201, 248);
  padding: 10px;
  margin: 100px;
  opacity: 0.8;
}

.detail-contributor p {
  color: aliceblue;
  font-size: 20px;
}
